body {
  font-family: 'Roboto', sans-serif;
}

body > header .navbar {
  font-family: 'Roboto Condensed', sans-serif;
}

body > footer > .section:last-child {
  font-family: 'Roboto Condensed', sans-serif;
}

body a {
  text-decoration: none;
}

body code {
  font-family: 'JetBrains Mono', 'Fira Code', 'Consolas', monospace;
  background-color: rgba(var(--bs-danger-rgb), 5%);
  border-radius: var(--bs-border-radius-sm);
  padding: 0 .3rem;
}

body .card-body {
  height: 16rem;
  overflow: auto;
  font-family: 'PT Serif', 'Times New Roman', 'Georgia', 'Times', serif;
}
